<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Vendor Order Tracker</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
  <h1>Vendor Order</h1>
  <h3><a href='/vendors'>View Vendors</a></h3>
  <h3><a href='/vendors/new'>Add a Vendor</a></h3>

</body>

</html>